.users {
  width: 700px;
  display: flex;
  flex-direction: column;
  padding: 31px;
  align-items: stretch;

  &__card {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 10px;
    border-radius: 8px;
    background-color: #F3F3F3;
    margin-top: 14px;
    font-size: 13px;
    font-weight: 400;

    &-info {
      display: flex;
      flex-direction: column;
    }

    div {
      span {
        color: #A3A3A3;
      }
    }
    div + div {
      margin-top: 12px;
    }
  }
}


